body{
    background-color: rgba(28, 39, 87, 0.956);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.image-and-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    align-items: center;

}
img{
    border: 2px solid black;
    border-radius: 250px;
    width: 200px;
    
}
.Newgame{
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px 2px;
    width: 180px;
    height: 60px;
}
.btn-of-rock-paper-scissors,.Newgame,.rock-btn,.paper-btn,.scissors-btn{
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: solid 2px black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 28px;
    display: flex;
}
.btn-of-rock-paper-scissors{
    border: none;
    gap: 70px;
    margin-top: 70px;
}

.rock-btn,.paper-btn,.scissors-btn{
    font-size: 28px;
    width: 200px;
    height: 50px;

}
.game-name,.display-round-winner,.scoreboard{
    font-size: 32px;
    display: flex;
    
}
.scoreboard{
    align-items: center;
    justify-content: center;
    gap: 110px;
    margin: 100px;
}
.human-scoreboard,.computer-scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 225, 229);
    color: rgb(63, 63, 63);
    padding: 20px;
    width: 240px;

}
.human-result,.computer-result{
    display: flex;
    margin-top: 10px;
}
.display-round-winner{
    display: flex;
    color: rgb(140, 140, 140);
    margin-bottom: 10px;
    flex: 0 0 auto;
}
.newgame-btn-with-display{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
}
